cucm:
  host: HOST
  user: USER
  password: PASSWORD
apiauth:
  user: user
  password: passwordhashedsha256
logging:
  level: INFO
  console:
    enabled: true
    threshold: ALL
http:
  bindHost: localhost